{% extends 'index.html' %}
{% block content %}
<div class="container mt-5">
    <div class="row mt-5">
        <div class="col-md-5 col-sm-6">
            <a href="{%url 'social:post-detail' post.id %}" class="btn btn-light">Back to Post</a>
        </div>
    </div>

    <div class="row justify-content-between mt-3">
        <div class="col-md-5 col-sm-12 border-bottom">
            <h5>Delete Your Post</h5>
        </div>
    </div>
    <div class="row justify-content-center mt-3 mb-5">
        <div class="col-md-5 col-sm-12 border-bottom">
            <form action="" method="POST">
                {% csrf_token %}
                <h3>Are You Sure?</h3>
                <p>You are about the delete the post, this cannot be undone.</p>
                <div class="d-grid gap-2">
                    <button type="submit" class="btn btn-danger mt-3">Delete</button>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}
